#logo{
    height: 50px;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.heading{
    text-align: center;
    color: rgba(25, 0, 255, 0.788);
}

.question-list {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}

.question-list h4{
    margin: 0;
    padding: 0;
}

.question-list a , .question-title{
    font-size: 18px;
    text-decoration: none;
    color: #1c7194 !important;
}

.answer-wrapper{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}

.my-questions{
    display: flex;
    justify-content: space-between;
}